<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/HAW.png" alt="HealthAppWeb Logo" class="logo" />
      <span class="ml-2">HealthAppWeb</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/nutrition"
            routerLinkActive="active-link"
            >Nutrition</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/workouts"
            routerLinkActive="active-link"
            >Workouts</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/more" routerLinkActive="active-link"
            >More</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
