<div class="meal-item">
  <div class="time-column">
    <div class="time-circle">
      {{ meal.CreationTime }}
    </div>
  </div>
  <div class="details-column">
    <div class="title-row">{{ meal.Title }}</div>
    <div class="calories-row">{{ calculateTotalCalories() }} Calories</div>
    <div class="details-button-row">
      <button class="details-button" (click)="navigateToDetails()">
        See Details
      </button>
    </div>
  </div>
  <div class="grade-column">{{ meal.Score }}/10</div>
</div>
