<div *ngIf="userData" class="user-container">
  <div class="profile-pic-container">
    <img src="assets/profile.png" alt="Profile Picture" class="profile-pic" />
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
  <div class="user-info">
    <div class="user-header">
      <h2>User Profile</h2>
      <button *ngIf="isLoggedIn" (click)="openEdit()" class="edit-button">
        Edit
      </button>
    </div>
    <div class="user-row">
      <span class="user-label">Name:</span>
      <span class="user-data">{{ userData.Name }}</span>
    </div>
    <div class="user-row">
      <span class="user-label">Age:</span>
      <span class="user-data">{{ userData.Age }}</span>
    </div>
    <div class="user-row">
      <span class="user-label">Weight & Height:</span>
      <span class="user-data"
        >{{ userData.Weight }} kg, {{ userData.Height }} cm</span
      >
    </div>
    <div class="user-row">
      <span class="user-label">Current Goal:</span>
      <span class="user-data">{{ userData.Goal }}</span>
    </div>
    <div class="user-row">
      <span class="user-label">Body type:</span>
      <span class="user-data">{{ userData.BodyType }}</span>
    </div>
    <div class="user-row">
      <span class="user-label">Gender:</span>
      <span class="user-data">{{ userData.Gender }}</span>
    </div>
  </div>
</div>
