.user-container {
    background-color: #f4fdf2;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

.profile-pic-container {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.logout-button {
    background-color: #268040;
    color: #fff;
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #124035;
}

.user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.user-row {
    display: flex;
    margin-bottom: 10px;
}

.user-label {
    font-weight: bold;
    margin-right: 10px;
}

.user-data {
    color: #2f594f;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    background-color: #f4fdf2;
    color: #268040;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.edit-button:hover {
    background-color: #268040;
    color: #fff;
}