.exercise-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.exercise-details {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exercise-sets {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #333;
}