.add-meal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EAFAE7;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    min-width: 60%;
    /* Ensure at least 60% of the screen width */
    max-width: 800px;
    /* Optional: Set a maximum width to keep it from getting too wide */
    margin: 25px auto;
    /* Center the component */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    /* Allow wrapping if necessary */
}

label {
    font-weight: bold;
    white-space: nowrap;
    /* Prevent label from breaking into multiple lines */
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    /* Ensure the inputs take the available width */
    min-width: 100px;
    /* Minimum width for better layout */
}

button {
    background-color: #268040;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 50%;
    margin: auto;
}

button:hover {
    background-color: #124035;
}

button:disabled {
    background-color: #cccccc;
    /* Grey out the button */
    color: #666666;
    /* Change text color to a lighter grey */
    cursor: not-allowed;
    /* Show not-allowed cursor */
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.add-food {
    margin: auto;
    min-width: 100%;
}