<div class="center-container">
  <div class="add-meal-container">
    <div class="form-row">
      <label for="mealTitle">Title:</label>
      <input id="mealTitle" type="text" [(ngModel)]="mealTitle" />
    </div>

    <div class="form-row">
      <label for="mealTimeHour">Time:</label>
      <input
        id="mealTimeHour"
        type="number"
        min="1"
        max="12"
        [(ngModel)]="mealTimeHour"
        placeholder="HH"
      />
      <span>:</span>
      <input
        id="mealTimeMinute"
        type="number"
        min="0"
        max="59"
        [(ngModel)]="mealTimeMinute"
        placeholder="MM"
      />
      <label for="mealTimePeriod" class="sr-only">Period:</label>
      <select id="mealTimePeriod" [(ngModel)]="mealTimePeriod">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    </div>

    <div class="form-row">
      <label>Ingredients:</label>
    </div>
    <div *ngFor="let food of foods; let i = index" class="form-row">
      <app-add-food
        [food]="food"
        (validFood)="onFoodValidityChange($event)"
        (foodChange)="onFoodNameChange($event, i)"
      ></app-add-food>
    </div>

    <button (click)="addFoodComponent()" [disabled]="!isLatestFoodValid()">
      Add another ingredient
    </button>

    <app-meal-summary
      [foods]="foods"
      [finishMeal]="finishMeal.bind(this)"
    ></app-meal-summary>
  </div>
</div>
