.food-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    /* Adjust the width of the cards */
    box-sizing: border-box;
}

.food-card h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.food-card p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .food-card {
        flex: 1 1 100%;
    }
}