/* meal-summary.component.css */
.meal-summary-container {
    display: flex;
    gap: 20px;
    background-color: #EAFAE7;
    padding: 10px;
    border-radius: 25px;
}

.summary-item {
    font-weight: bold;
}

.finish-meal-button {
    background-color: #268040;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 50%;
    margin: auto;
}