/* meal-summary.component.css */
.meal-summary-container {
    display: flex;
    gap: 20px;
    background-color: #EAFAE7;
    padding: 10px;
    border-radius: 25px;
}

.summary-item {
    font-weight: bold;
}