.meal-summary-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #EAFAE7;
    padding: 20px;
    border-radius: 25px;
    justify-content: space-between;
}

.summary-item {
    font-weight: bold;
}

button.finish-meal-button {
    background-color: #268040;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.finish-meal-button:hover {
    background-color: #124035;
}

button.finish-meal-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}