<div class="workout-detail-container">
  <div class="left-column">
    <div class="top-section">
      <button class="back-button" (click)="goBack()">Back</button>
      <div class="editable-field">
        <label for="titleInput">Title:</label>
        <textarea
          id="titleInput"
          #titleInput
          [disabled]="!editTitle"
          (input)="onInput($event)"
          placeholder="Enter workout title"
          title="Title"
        >{{ title }}</textarea>
        <button *ngIf="!editTitle" (click)="editTitle = true" class="edit-button">
          Edit
        </button>
      </div>
      <div class="editable-field">
        <label for="typeInput">Type:</label>
        <textarea
          id="typeInput"
          #typeInput
          [disabled]="!editType"
          (input)="onInput($event)"
          placeholder="Enter workout type"
          title="Type"
        >{{ type }}</textarea>
        <button *ngIf="!editType" (click)="editType = true" class="edit-button">
          Edit
        </button>
      </div>
      <div class="editable-field">
        <label for="descriptionInput">Description:</label>
        <textarea
          id="descriptionInput"
          #descriptionInput
          [disabled]="!editDescription"
          (input)="onInput($event)"
          placeholder="Enter workout description"
          title="Description"
        >{{ description }}</textarea>
        <button *ngIf="!editDescription" (click)="editDescription = true" class="edit-button">
          Edit
        </button>
      </div>
      <label for="colorInput">Color:</label>
      <input
        id="colorInput"
        class="color-input"
        type="color"
        [value]="color"
        (input)="onColorChange($event)"
        title="Color"
      />
    </div>
    <div class="bottom-buttons">
      <button class="save-pdf-button" (click)="saveAsPDF()">Save as PDF</button>
      <button class="save-button" (click)="save()">Save</button>
    </div>
  </div>
  <div class="right-column">
    <div *ngFor="let exercise of exercises">
      <app-exercise-card [exercise]="exercise"></app-exercise-card>
    </div>
    <button (click)="addExercise()" class="add-exercise-button">
      Add Exercise
    </button>
  </div>
</div>
