.workout-detail-container {
    display: flex;
    height: calc(100vh - 100px);
  }
  .left-column {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
  }
  .top-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .right-column {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    position: relative;
  }
  .color-input {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .back-button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #268040;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
  }
  .back-button:hover {
    background-color: #1E6430;
    color: white;
  }
  .input-label {
    font-weight: bold;
    color: #268040;
    margin-right: 10px;
  }
  textarea {
    flex: 1;
    width: calc(100% - 100px);
    resize: none;
    overflow: hidden;
    min-height: 30px;
    max-height: 40px; 
    padding: 5px;
    border-radius: 15px;
    vertical-align: middle;
    border-color: #1E6430;
  }
  textarea:disabled {
    background-color: #f0f0f0;
  }
  .editable-field {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .edit-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  .edit-button:hover {
    text-decoration: none;
  }
  .bottom-buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
  }
  .save-pdf-button {
    padding: 10px 20px;
    background-color: #53BD63;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
  .save-pdf-button:hover {
    background-color: #45A653;
  }
  .save-button {
    padding: 10px 20px;
    background-color: #268040;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
  .save-button:hover {
    background-color: #1E6430;
  }
  .add-exercise-button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  .add-exercise-button:hover {
    background-color: #218838;
  }