.doughnut-container {
    width: 100%;
    max-width: 300px;
    background-color: #EAFAE7;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.doughnut-title {
    margin-bottom: 10px;
    font-size: medium;
}

canvas {
    width: 100% !important;
    height: 200px ;
}